<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>Weather app</h1>

  <form>
    <label for="location_input">Write location to which you want to get forecast for</label>
    <input type="text" name="location_input" id="location_input">
    <input type="submit" value="Search">
  </form>

  <p id="msg-1"></p>
  <p id="msg-2"></p>
  <script src="/js/client.js"></script>
</body>

</html>